@model ECommer.ItemUI.Models.ProductDto


<form id="CreateForm" asp-action="CreatePost">
    <br />
    <div class="container border p-3">
        <h1 class="text-info">Create Product</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary=All class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Choose Category</label>
            </div>       
            <div class="col-10 pb-3">
                <select id="CategoryId" name="CategoryId" class="dropdown form-control" >  
                    <option value="Select">loading...</option>  
                </select>
                @*@Html.DropDownList("CategoryId")*@
            </div>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
               
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Choose Brand</label>
            </div>       
            <div class="col-10 pb-3">
                <select id="BrandId" name="BrandId" class="dropdown form-control" >  
                    <option value="Select">loading...</option>  
                </select>
                @*@Html.DropDownList("BrandId")*@
            </div>
            <span asp-validation-for="BrandId" class="text-danger"></span>
                       
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div> 
            
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input id="submit" type="submit" value="Submit" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/DDLoaderAndSelector.js"> </script>
    <script>    
        $(document).ready(function () {
            LoadDDItemsAndSelectOne("/Category/GetAll", "#CategoryId", 
                sessionStorage.CatIdSelect,$("input[name=Name]").val());
            LoadDDItemsAndSelectOne("/Brand/GetAll", "#BrandId", 
                sessionStorage.BraIdSelect,$("input[name=Name]").val());
            
            $('#submit').click(function () {
                sessionStorage.setItem("BraIdSelect", $('#BrandId').val());
                sessionStorage.setItem("CatIdSelect", $('#CategoryId').val());
            });        
         });
    </script>
}

